.idea
node_modules
.eslintcache

# Ensure JS files are not stale
widget/assets/js/index.js
widget/assets/js/view
widget/assets/js/knownIssues
widget/assets/js/zendeskWidget.js
widget/assets/js/htmlElements
